<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projetdevapplicationmobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetDevApplicationMobile"
        tools:targetApi="31">
        <activity
            android:name=".ActivitePrixTomatos"
            android:exported="false" />
        <activity
            android:name=".ActivitePrixPommes"
            android:exported="false" />
        <activity
            android:name=".ActiviteBoissons"
            android:exported="false" />
        <activity
            android:name=".ActivitePattiserie"
            android:exported="false" />
        <activity
            android:name=".ActiviteLegumes"
            android:exported="false" />
        <activity
            android:name=".ActiviteFruits"
            android:exported="false" />
        <activity
            android:name=".CategorieProduits"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>